.infographics {
     &-heading {
          & a {
               font-size: 18px;
               border-bottom: 1px solid $hover-color;
               &:hover {
                    color: $hover-color;
               }
          }
          margin-bottom: 20px;
     }
     &-item:first-child {
          margin-right: 20px;
     }
     &-item {
          flex: 1;
     }
          
     &-item {
          & a {
               display: block;
               margin-top: 15px;
               font-size: 15px;
               font-weight: 700;
          }
     }
}